$font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$backgroundColor: #fff;
$secondaryColor: #f08080;

body {
  background-color: $backgroundColor;
  font-family: $font;
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

.card {
  background-color: #eee;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;

  &--secondary {
    flex-direction: row-reverse;
    justify-content: center;
  }

  &__content {
    padding: 0 150px;
    width: 50%;

    .card--secondary & {
      padding: 0;
      width: auto;
    }
  }
  
  &__title {
    color: #000;

    .card--active & {
      color: #f08080;
    }

    .card--secondary & {
      font-size: 20px;
    }
  }

  &__text {
    font-size: 14px;

    .card--secondary & {
      font-size: 12px;
    }
  }

  &__button {
    width: 150px;
    border: none;
    background-color: #000;
    display: inline-block;
    text-align: center;
    color: #fff;
    text-decoration: none;
    line-height: 40px;
    margin-top: 30px;
  }

  &__imgBox {
    width: 50%;

    .card--secondary & {
      width: auto;
      padding: 20px;
    }
  }

  &__img {
    display: block;

    .card--secondary & {
      width: 400px;
    }
  }
}
  


  // &__box {
  //   height: 200px;
  //   width: 200px;
  //   border: 1px solid #000;
  // }
  // &__innerBox {
  //   background-color: red;
  //   height: 100px;
  //   width: 100px;
  // }
