body {
  background-color: pink;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 2000px;
}

.content {
  position: absolute;
  top: 600px;
  background-color: #fefefe;
  padding: 50px;
  margin: 20px;
  box-shadow: inset 1px 1px 11px 0px black;
}
