body {
  background-color: lightgrey;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 2000px;
  margin: 0;

  h1 {
    font-weight: 100;
    font-size: 200px;
    letter-spacing: -30px;
    text-align: center;
    margin: 0;
    color: black;

    &::after {
      content: 'X';
      font-size: 300px;
    }
  }
}
// .content {
//   position: absolute;
//   top: 600px;
//   background-color: #fefefe;
//   padding: 50px;
//   margin: 20px;
//   box-shadow: inset 1px 1px 11px 0px black;
// }

.aComponent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  top: 200px;
  border: 1px solid black;
  margin-bottom: 50px;

  .textBox {
    width: 30%;
    margin: auto 20px;

    &__headline {
      margin-top: 0;
    }

    &__description {
      margin: 30px 0;
    }

    &__linkButton {
      display: inline-block;
      text-decoration: none;
      color: white;
      background-color: black;
      padding: 10px;
      margin: 0 auto;

      &--showInfo {
        cursor: pointer;
      }
    }
  }

  .mainImage {
    width: 50%;
    border-width: 100px 0;
    border-style: solid;
    border-color: black;
  }

  .tooltip {
    display: none;
    position: relative;
    align-self: flex-end;
    width: 100%;
    height: 200px;
    background-color: #4A656E;
    margin: 5px 0;

    &--show {
      display: block;
    }

    &::before {
      position: absolute;
      content: '';
      background-size: 100%;
      width: 20px;
      height: 20px;
      background-image: url("../assets/tri.svg");
      transform: translateY(-75%);
      left: 20%;
    }

    &__contact {
      width: 50%;
      margin: 20px auto;
      font-size: 20px;
      color: white;
    }
  }

  &--redHeadline {
    .textBox__headline {
      color: coral;
    }
  }

  &--secondaryConversion {
    justify-content: center;
    align-items: center;

    .textBox {
      order: 2;

      &__linkButton {
        background-color: coral;
      }
    }

    .mainImage {
      order: 1;
      width: 30%;
      border: 0;
    }
  }
}

.buttonBox {
  position: relative;
  top: 300px;
  width: 30%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  &__button {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: black;
  }
}
