$triangleSize: 50px;
$trinagleSizeBorder: $triangleSize / 2;


body {
  background-color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-family: 'Montserrat', sans-serif;
  height: 2000px;
}

h1 {
  font-size: 20px;
  border-left: 5px solid coral;
  padding: 0 5px;
  margin-top: 100px;
}

.callToAction {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content:flex-end;
  align-items: center;
  align-content: flex-end;
  background-color: rgb(230, 230, 230);

  .callToAction__textBox {
    box-sizing: border-box;
    order: 1;
    width: 40%;
    padding: 2.5%;
    height: auto;
    margin: 0 auto;
    background-color: rgb(230, 230, 230);
  }

  .callToAction__headline {
    font-size: 20px;
  }

  .callToAction__text {
    font-size: 16px;
  }

  .callToAction__togglebutton {
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 5px;
    text-decoration: none;
    cursor: pointer;
  }


  .callToAction__image {
    order: 2;
    width: 50%;
    border-radius: 0;
    transition: all 0.5s ease-in;

    &--round {
      border-radius: 50px 0 0 50px;
    }

  }


  .callToAction__tooltip {
    position: relative;
    order: 3;
    width: 100%;
    max-height: 0;
    background-color: rgba(74, 101, 110, 0.8);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0;
    transition: all 0.5s ease-in;
    --triangleSize:0px; //$triangleSize;
    --triangleSizeBorder: 0px;// $trinagleSizeBorder;
  }

  .ghost {
    overflow: hidden;
    margin: 0 auto;
    width: 60%;
  }

  .callToAction__tooltip--show {
    // display: flex;
    // opacity: 1.0;
    height: auto;
    max-height: 400px;
    padding: 10px 0;
    --triangleSize:100px; //$triangleSize;
    --triangleSizeBorder: 50px;// $trinagleSizeBorder;
  }

  .callToAction__tooltip::before {
    transition: all 0.5s ease-in;
    position: absolute;
    top: calc(var(--triangleSize) * -1);
    content: '';
    width: 0;
    height: 0;
    border-left: var(--triangleSizeBorder) solid transparent;
    border-right: var(--triangleSizeBorder) solid transparent;
    border-bottom: var(--triangleSize) solid rgba(74, 101, 110, 0.8);
    z-index: 1000;
  }

  .callToAction__tooltipHeadline {
    display: inline-block;
    font-size: 20px;
    margin: 0 auto;
  }

  .callToAction__tooltipText {
    display: inline-block;
    font-size: 16px;
    margin: 0 auto;
  }

  &--redHeadline {
    align-items: center;

    .callToAction__headline {
      color: coral;
    }

    .callToAction__togglebutton {
      color: coral;
    }

    .callToAction__tooltip  {
      background-color: rgba(255, 127, 80, 0.8);
    }

    .callToAction__tooltip::before {
      border-bottom: var(--triangleSize) solid rgba(255, 127, 80, 0.8);
    }
  }

  &--secondaryConversion {
    justify-content: space-around;
    align-items: center;

    .callToAction__textBox {
      order: 2;
      margin: 10px 0;
    }

    .callToAction__image {
      order: 1;
      width: 30%;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
    }

    .callToAction__image--round {
      border-radius: 0;
    }
  }

  &--thirdConversion {
    align-items: stretch;
    background-color: red;

  .callToAction__textBox {
    width: 50%;
    border-radius: 0 0 50px 0;
  }
  .callToAction__backgroundImage {
    content: '';
    order: 1;
    display: block;
    width: 50%;
    background-color: black;
    background-size: cover;
    background-image: url(../assets/ashthorp2.jpg);
    border-radius: 0 0 0 0;

    &--round {
      border-radius: 0 0 0 50px;
    }
  }

  .callToAction__backgroundImage--round {
    border-radius: 0 0 0 50px;
  }

  .callToAction__tooltip {
    background-color: transparent;
  }
  .callToAction__tooltip::before {
    display: none;
  }
  }
}
