//color variables
$background-gray: #ecede9;
$background-blue: #303c53;
$red: #f08280;
@mixin red-line {
  padding-left: 5px;

  -webkit-box-shadow: -4px 0px 0px 0px red;
  -moz-box-shadow: -4px 0px 0px 0px red;
  box-shadow: -4px 0px 0px 0px red;
}
.headline {
  margin-left: 10vw;
  @include red-line();
}

.main-conversion {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-left: 10vw;

  background-color: $background-gray;

  div {
    padding-right: 5vw;
  }
  @at-root #{&}__img {
    width: 50%;
    height: auto;
  }
  @at-root #{&}__headline {
    margin-bottom: 10px;
  }
  @at-root #{&}__btn {
    padding: 10px 15px;

    background-color: black;
    color: white;

    text-decoration: none;
    font-size: 0.8em;
  }
  @at-root #{&}__text {
    margin-bottom: 30px;
    margin-top: 0;

    font-size: 0.8em;
  }

  @at-root #{&}--red-headline {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 10vw;

    background-color: $background-gray;
    div {
      padding-right: 5vw;
    }
    @at-root #{&}__img {
      width: 50%;
      height: auto;
    }
    @at-root #{&}__headline {
      margin-bottom: 10px;

      color: $red;
    }
    @at-root #{&}__btn {
      padding: 10px 15px;

      background-color: black;
      border: none;
      color: white;

      text-decoration: none;
      font-size: 0.8em;
    }
    @at-root #{&}__text {
      margin-bottom: 30px;
      margin-top: 0;

      font-size: 0.8em;
    }
  }

  @at-root #{&}--secondary {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding-left: 10vw;

    background-color: $background-gray;
    div {
      padding-right: 5vw;
      order: 2;
    }
    @at-root #{&}__img {
      order: 1;
      width: 35%;
      height: auto;
      margin: 50px 0;
      padding-right: 20px;
    }
    @at-root #{&}__headline {
      margin-bottom: 10px;
    }
    @at-root #{&}__btn {
      padding: 10px 15px;

      background-color: $red;
      border: none;
      color: white;

      text-decoration: none;
      font-size: 0.8em;
    }
    @at-root #{&}__text {
      margin-bottom: 30px;
      margin-top: 0;

      font-size: 0.8em;
    }
  }
}
.contact {
  background-color: $background-blue;
  position: relative;

  height: 150px;

  z-index: 1;

  @at-root #{&}__headline {
    margin-left: 10vw;
    padding-top: 20px;
    color: white;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

    z-index: 2;
  }

  @at-root #{&}--hidden {
    display: none;
  }
}
.contact:before {
  content: "";
  width: 40px;
  height: 40px;
  background-color: $background-blue;
  position: absolute;
  top: 0;
  left: 10vw;
  transform: translateX(-50%) rotate(45deg);

  z-index: -1;
}